name: Update Homebrew Tap
on:
  push:
    tags:
      - 'v*'

jobs:
  homebrew:
    runs-on: ubuntu-latest
    steps:
      - name: Update Homebrew Formula
        uses: mislav/bump-homebrew-formula-action@v3
        with:
          # The formula name
          formula-name: vyom
          # The tap repository
          homebrew-tap: MrSyr3x/homebrew-vyom
          # The new URL
          download-url: https://github.com/MrSyr3x/termony/archive/refs/tags/${{ github.ref_name }}.tar.gz
          # Commit message
          commit-message: "update formula to {{version}}"
        env:
          COMMITTER_TOKEN: ${{ secrets.VYOMTOKEN }}
